@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,100;1,200;1,400;1,500;1,600;1,700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
:root{
   --main-color:#562EFF;
   --nav-color:#FFFFFF;
   --hero-color:#1E1E1E;
   --main-red:#ED6B4F;
   --yellow: #FFC014;
   --gray:#AEAEAE;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 870px;
    margin: 0 auto;
    /* background: rgb(200, 160, 160); */
}

/* header start  */

.main-header{
    background: var(--main-color);


}
.main-container {
    display: flex;
    padding-bottom: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
}
.main-container-left{
    display: flex;
    align-items: center;

}
.main-container-left img {
    height: 44px;
    width: 35px;
    color: var(--nav-color);
}
.main-container-left span{
    color: var(--nav-color);
    font-size: 28px;
    padding-left: 8px;
}

.main-container-right .nav-menu{
    display: flex;
    align-items: center;


}
.main-container-right .nav-menu a {
    font-size: 17px;
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--nav-color);
    padding-left: 8px;
}
.main-container-right .nav-menu img {
    padding-left: 28px;
}


/* header end  */

/* hero section start  */
.hero-section {
    background: #F3F1FF;
    padding-top: 35px;
}
.container-hero {
    background: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    border-radius: 6px;
}
.common-heading {
    color: var(--main-color);
    font-size: 26px;
    font-weight: 500;
    padding-top: 10px;
    padding-left: 22px;
    padding-bottom: 29px;
}
.top-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.top-player-details {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    padding-left: 20px;
    padding-bottom: 20px;
}
.top-player-details img{
    width: 68px;
   
}
.top-player-details h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    padding-left: 20px;
}
hr {
    margin-top: 20px;
    width: 800px;
    border: 1px solid rgb(209, 209, 209);
    margin: 2%;
} 
.top-blogs{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}  

.top-blogs-image img{
    width: 177px;
    

}
.top-blogs-content{
    padding-left: 15px;
    padding-top: 10px;
}
.top-blogs-content h2 {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins';
    color: var(--hero-color);
}
.top-blogs-content p {
    font-size: 16px;
    font-weight: 300;
   
}
.top-blogs-content p span{
    color: var(--main-color);
    font-size: 18px;
    font-weight: 500;
   
}
.top-blogs-details {
    display: flex;
    padding-left: 35px;
    padding-bottom: 14px;
}

/* hero section end  */
.courses {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 12px;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.course-details {
    box-shadow: 0px 5.34229px 13.3557px rgb(0 0 0 / 5%);
    border-radius: 11px;
    margin: 10px;
}
.course-detail p {
    color: var(--main-red);
    padding: 5px 0;
}
.course-detail h2{
    font-size: 20px;
    color: var(--hero-color);
    font-weight: 600;
}
.course-detail1-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}


.course-detail img {
    width: 251px;
}
.course-items1 {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-content: center;
    align-items: center;
    justify-items: start;
}
.course-items1 .filup{ 
   color: var(--yellow); 
}
.course-items1 .nil{ 
   color: var(--gray)
}

.course-items1 img {
    width: 20px;
    padding-right: 3px;
}
.course-items2 {
    display: grid;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(2,1fr);
}
.course-items2 img{
    width: 16px;
}


/* responsive media quary */


/*
--------------------
ipad
----------------------
*/

@media screen and (max-width: 768px){
   .container{
       width: 100%;
   }
   .main-container {
    /* display: flex;
    padding-bottom: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px; */
}
.main-container-left{
    /* display: flex;
    align-items: center; */

}
.main-container-left img {
    /* height: 44px;
    width: 35px;
    color: var(--nav-color); */
}
.main-container-left span{
    /* color: var(--nav-color);
    font-size: 28px;
    padding-left: 8px; */
}

.main-container-right .nav-menu{
    /* display: flex;
    align-items: center; */


}
.main-container-right .nav-menu a {
    /* font-size: 17px;
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--nav-color);
    padding-left: 8px; */
}
.main-container-right .nav-menu img {
    /* padding-left: 28px; */
}
.hero-section {
    /* background: #F3F1FF;
    padding-top: 35px; */
    padding: 0;
}
.container-hero {
    /* background: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    border-radius: 6px; */
}
.common-heading {
    /* color: var(--main-color);
    font-size: 26px;
    font-weight: 500;
    padding-top: 10px;
    padding-left: 22px;
    padding-bottom: 29px; */
}
.top-players{
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
}
.top-player-details {
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    padding-left: 20px;
    padding-bottom: 20px; */
}
.top-player-details img{
    /* width: 68px; */
   
}
.top-player-details h2 {
    /* font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    padding-left: 20px; */
}
hr {
    /* margin-top: 20px;
    width: 800px;
    border: 1px solid rgb(209, 209, 209);
    margin: 2%; */
} 
.top-blogs{
   /* display: grid;
   grid-template-columns: repeat(2, 1fr); */
}  

.top-blogs-image img{
    /* width: 177px; */
    

}
.top-blogs-content{
    /* padding-left: 15px;
    padding-top: 10px; */
}
.top-blogs-content h2 {
    /* font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins';
    color: var(--hero-color); */
}
.top-blogs-content p {
    /* font-size: 16px;
    font-weight: 300; */
   
}
.top-blogs-content p span{
    /* color: var(--main-color);
    font-size: 18px;
    font-weight: 500; */
   
}
.top-blogs-details {
    /* display: flex;
    padding-left: 35px;
    padding-bottom: 14px; */
}
.courses {
    /* display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 12px;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center; */
}
}


  /*
--------------------
phone
----------------------
*/

@media screen and (max-width: 360px){
    .container-hero {
        background: rgb(255, 255, 255);
        padding-top: 20px;
        padding-bottom: 20px;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
        transition: 0.3s;
        border-radius: 6px;
    }
    .main-container-left{
        display: flex;
        align-items: center;
    
    }
    .main-container-right .nav-menu{
         display: flex;
        align-items: center;
     
    
    }
    .main-container-right .nav-menu a {
        font-size: 12px;
    }

    
  }



